body {
  display: flex;
  margin: 0;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  flex-direction: column;
  color: #f9faf8;
  padding: 10px;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

button {
  border: none;
  border-radius: 8px;
  background: blue;
  color: white;
  padding: 8px 24px;
  flex-grow: 1;
}

img {
  border-radius: 10%;
  align-self: flex-end;
}
